@font-face {
    font-family: 'Progress';
    src: url('./fonts/progress-font/ProgressPersonalUse-EaJdz.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body,
html {
    margin: 0;
    padding: 0;
    font-family: 'Progress', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: var(--background-color);
    color: var(--text-color);
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;

    --background-color: #1b1e22;
    --text-color: #ffffff;
    --primary-color: #00b4d8;
    --hover-background-color: #00b4d8;
    --hover-text-color: #1e1e1e;
    --shadow-color: #000000;
    --error-color: #fc6868;
    --water-color: #0068c9;
    --hit-color: #ff0000;
    --spark-color: #ff3c00;
    --smoke-color: #00000080;
    --ship-color: #4e4e4e;
    --miss-color: #00b7ff;
    --crosshair-color: #00ff22;
}

.game-title {
    font-size: 80px;
    font-weight: 500;
    letter-spacing: 2px;
    color: #6b6a6a;
    margin: 10px;
    text-shadow: 0 -1px 0 #fff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}

.game-container {
    display: flex;
    gap: 20px;
    align-items: center;
}

.board-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

h2 {
    margin-bottom: 20px;
    font-size: 24px;
    font-weight: 500;
}

.direction-btn {
    padding: 10px 20px;
    margin-bottom: 20px;
    border: 2px solid var(--primary-color);
    background: transparent;
    color: var(--primary-color);
    font-size: 16px;
    cursor: pointer;
    transition: background 0.3s, color 0.3s;
}

.direction-btn:hover {
    background: var(--hover-background-color);
    color: var(--hover-text-color);
}

.placing-board,
.player-board,
.enemy-board {
    display: grid;
    grid-template-columns: repeat(10, 40px);
    grid-template-rows: repeat(10, 40px);
    background-color: var(--water-color);
}

.placing-board,
.player-board {
    border: 4px solid var(--primary-color);
}

.enemy-board {
    border: 4px solid var(--hit-color);
}

.placing-board button,
.player-board button,
.enemy-board button {
    width: 40px;
    height: 40px;
    padding: 5px;
    border: none;
    box-shadow: 0 0 0 2px var(--text-color);
    background-color: var(--background-color);
    color: var(--text-color);
    font-size: 18px;
}

.placing-board button:hover {
    background: var(--hover-background-color);
}

.placing-board button.highlight {
    background-color: var(--primary-color);
}

.placing-board button.highlight-error {
    background-color: var(--error-color);
}

button.water {
    background-color: var(--water-color);
}

.enemy-board button.water:hover {
    background-color: inherit;
    background: radial-gradient(circle, var(--crosshair-color) 0%, transparent 10%, var(--crosshair-color) 20%,
            var(--water-color) 30%, var(--crosshair-color) 40%, var(--water-color) 50%);
    cursor: crosshair;
}

button.hit {
    background: var(--hit-color);
    background: radial-gradient(circle, var(--hit-color) 0%, var(--spark-color) 50%, var(--ship-color) 100%);
    cursor: not-allowed;
}

button.miss {
    background-image: radial-gradient(circle at center center, #0084ff, #00b4d8), repeating-radial-gradient(circle at center center, #0068c9, #43a4ff, 2px, transparent 3px, transparent 6px);
    background-blend-mode: multiply;
    background-color: #00b4d8;
    cursor: not-allowed;
}

button.ally-ship {
    background-color: var(--ship-color);
}

.player-board button:hover {
    cursor: not-allowed;
}

.fullscreen-transition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fullscreen-transition.visible {
    opacity: 1;
}

.deploying-text {
    color: white;
    font-size: 24px;
}

.game-end-transition {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.game-end-transition.visible {
    opacity: 1;
}

.game-end-text {
    color: white;
    font-size: 36px;
    margin-bottom: 20px;
}

.game-end-button {
    padding: 10px 20px;
    font-size: 18px;
    font-family: 'Progress';
    cursor: pointer;
}